*{
    margin: 0;padding: 0;box-sizing: border-box; font-family: serif;
}
#nav-menu{
    padding: 15px;
    background-color: black;
}
#nav-menu ul{
display: flex;
justify-content: space-around;
}
#nav-menu ul li{
    list-style-type: none;
    color: white;
}
#nav-menu ul li a{
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    color: white;
    font-family: sans-serif;
}
#nav-menu ul li a:hover{
    color: rgb(159, 159, 231);
}

#home{
    margin-top: 10px;
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
}

.home-img{
    width: 1000px;
    border-radius: 50%;
}
#user-detail-name{
    margin-top: 300px;
    font-size: 38px;
    font-weight: bold;
}

#user-detail-intro{
    margin-top: 10px;
    font-size: 28px;
}
#resume-button-2{
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 24px;
    border-radius: 10px;
}
#resume-button-2:hover{
    cursor: pointer;
    background-color: #fff;
}

#projects{
    margin: 20px
}
#projects h2{
    margin-bottom: 20px;
}
#projects div{
    margin-top: 70px;
    display: flex;
    gap: 20px;
    margin: auto;
}
.project-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    transition: transform 0.2s ease-in-out;
    width: 100%;
    max-width: 400px;
  }
  
  .project-card:hover {
    transform: translateY(-10px);
  }
  
  .project-card img {
    border-radius: 10px;
    height: 200px;
    object-fit: cover;
    width: 100%;
  }
  
  .project-title {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .project-description {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .project-tech-stack {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .project-github-link,
  .project-deployed-link {
    background-color: #000;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
  }
  
  .project-github-link:hover,
  .project-deployed-link:hover {
    background-color: #333;
  }
  